<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @team.sport %>
</p>

<p>
  <strong>Nu of players:</strong>
  <%= @team.nu_of_players %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
