<p id="notice"><%= notice %></p>

<p>
  <strong>Coach:</strong>
  <%= @schedule.coach_id %>
</p>

<p>
  <strong>Player:</strong>
  <%= @schedule.player_id %>
</p>

<p>
  <strong>Team:</strong>
  <%= @schedule.team_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @schedule.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @schedule.end_date %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
