<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @association.name %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @association.sport %>
</p>

<%= link_to 'Edit', edit_association_path(@association) %> |
<%= link_to 'Back', associations_path %>
